#filters {
    border-style: solid;
    border-color: black;
    max-height: 200px;
}

.price-range-container {
    margin: 10px;
}

.select-category-container {
    margin: 10px;
}

.apply-filter-button {
    margin: 10px;
    background-color: #00FF00;
}

.item {
    width: 200px;
    height: 180px;
    background-color: #A0A0A0;
    text-align: center;
    margin: 10px;
    float: left;
}
