{% macro render_filter() %}
<div>
    <form id="filter-form">
        <div class="price-range-container">
            <input type="range" min="0" max="10000" name="price-range" value="0" id="priceRange">
            <br>
            <span>Цена от: </span>
            <span id="priceValue"></span>
        </div>
        <div class="select-category-container">
            <label for="categories">Фильтр по категориям</label>
            <div>
                <select id="categories" form="filter-form" name="category">
                    <option value="clothes">Одежда</option>
                    <option value="shoes">Обувь</option>
                    <option value="accessories">Аксессуары</option>
                </select>
            </div>
        </div>
        <input type="submit" value="Применить" class="apply-filter-button">
    </form>
</div>
{% endmacro %}


{% macro render_content(items) %}
<div class="item-container">
    {% for item in items %}
    <div class="item">
        <div>
            <div>{{ item["name"] }}</div>
            <div>{{ item["price"] }}</div>
            <form action="" method="post">
                <input type="hidden" name="item-id" value="{{ item['item_id'] }}">
                <input type="submit" value="Купить">
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}
